.resumeButton {
    background-color: var(--color-accent);
    color: white; /* TODO: Update upon new color scheme */
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.5rem;

    &:hover {
        background-color: var(--color-accent-2);
        box-shadow: 0 0 0.5rem var(--color-accent);
    }
}
