.educationContainer {
    max-height: 70vh;
    width: 100%;
    margin-top: 1rem;
    overflow-y: auto;
    scrollbar-width: thin;
}

.educationEntry {
    width: 100%;
    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }
    
    /* Styling the unopened summary area */
    & details {
        transition: background-color 0.2s ease;
        background-color: var(--color-accent-2);
        color: #ffffff;
        &:hover {
            background-color: var(--color-accent);
        }
    }
    
    & summary {
        padding: 1rem;
        width: 100%;
        cursor: pointer !important;
    }
    
    & details[open] summary {
        background-color: var(--color-accent);
        border-bottom: 1px solid var(--color-text-primary);
    }
    
    /* The content in the expanded details */
    & .coursework {
        padding: 1rem;
        width: 100%;
        background-color: var(--color-foreground);
    }
}

@media screen and (max-width: 1200px) {
    .educationContainer {
        max-height: 100%;
        overflow-y: visible;
    }
}
