.errorPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    text-align: center;

    & pre {
        text-align: left;
        padding: 0;
        width: 50%;
        overflow-x: auto;
        color: var(--color-text-primary);
    }

    & a {
        text-decoration: underline;
    }
}
