.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.main section {
    display: flex;
    width: 100%;
}

.homeSection {
    min-height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.homeSectionContent {
    min-height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 0;
}

.bg {
    width: 50%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sectionTitle {
    margin-top: 0;
}

.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

@media screen and (max-width: 800px) {
    .homeSection {
        width: 75%;
        padding-top: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .homeSection {
        width: 100%;
    }

    .bg {
        display: none;
    }
}
