/* The left/text content side of each homepage section */
.homeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 60%;
}

/* The actual text content in each left-side content section */
.homeSectionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    width: 90%;
    justify-self: center;
}

.bgContainer {
    width: 40%;
    min-height: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    & img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1.3333;
    }
}

.sectionTitle {
    margin-bottom: 0;
}

.scrollToTop {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 100;
    background-color: var(--color-accent-2);
    color: #ffffff;
    border: 1px solid var(--color-foreground);
    border-radius: 1rem;
    padding: 1rem;
    
    &:hover {
        background-color: var(--color-accent);
    }
}

.sectionScrollButton {
    /* Button container */
    display: flex;
    flex-direction: column;
    flex-grow: 0.20;
    margin: 1rem 0;
}

@media screen and (max-width: 576px) {
    .homeSectionContent {
        width: 100%;
        padding: 1rem;
    }

    .sectionScrollButton {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .bgContainer {
        display: none;
    }

    .scrollToTop {
        /* Hide the 'scroll to top text' */
        & span {
            display: none;
        }
    }
}
