.heading {
    & h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }
    
    & h1 {
        font-size: 3rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
        color: var(--color-accent);
    }
}

.activities {
    margin-top: 2rem;
    display: flex;
    width: calc(100% - 5rem);
}

.activitiesWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    width: 100%;
}

.activitiesWrapper div {
    background-color: var(--color-accent-2);
    color: white;
    padding: 1rem;
    margin-right: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    white-space: nowrap;
    opacity: 0.9;
}

.activitiesWrapper div:hover {
    transition: background-color 0.2s linear, color 0.2s linear;
    opacity: 1;
    box-shadow: 0 0 5px 2px var(--color-accent-2);
    /* outline: 1px solid var(--color-text-primary); */
    /* background-color: var(--color-accent); */
    /* color: var(--color-text-opposite); */
}

@media screen and (max-width: 1024px) {
    .activities,
    .activitiesWrapper {
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .heading h2 {
        padding-top: 2rem;
    }
}
