.skills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    & a {
        background-color: var(--color-accent-2);
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        border: none;
        text-decoration: none;
        color: var(--color-text);
    }
}

.images {
    margin: 1rem auto;
    width: 90%;

    & img {
        width: 100%;
        max-height: 100%;
        border-radius: 0.5rem;
        aspect-ratio: 16/9;
    }

    & .imageControls {
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
    }
}

.projectContent {
    padding: 1rem;
}
