.skills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;
    flex-grow: 1;

    & a {
        background-color: var(--color-accent-2);
        align-self: center;
        /* width: 6rem;
        height: 3rem; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        border: none;
        text-decoration: none;
        color: var(--color-text);
    }

    & button {
        padding: 0.5rem;
        background-color: var(--color-accent-2);
        border: none;
        color: var(--color-text);
        font-size: 1rem;
        font-weight: 600;
        border-radius: 0.5rem;
        transition: all 0.2s ease-in-out;

    }

    & button:hover {
        cursor: pointer;
        background-color: var(--color-accent);
    }
}

.images {
    margin: 1rem auto;
    width: 90%;

    & img {
        width: 100%;
        max-height: 100%;
        border-radius: 0.5rem;
        aspect-ratio: 16/9;
    }

    & div.imageControls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
    }
}

.links {

}
