.skillsContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 1.5rem;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    & input[type='text'] {
        flex-grow: 1;
        border-radius: 0.5rem;
        padding: 0.5rem;
        border: 1px solid var(--color-accent);
        background-color: #ffffff;
        color: #000000;
        margin-right: 0.5rem;
    }
}

.categoryContainer {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.75rem;

    & > span {
        cursor: help;
        border-bottom: 1px solid var(--color-accent);
    }
}

.skillsList {
    min-height: 60vh;
}
