.socialsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1rem;
    column-gap: 0.5rem;
    margin-top: 2rem;
}

.location {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.social {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--color-text-primary);
    color: var(--color-text-opposite);
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 1rem;
    white-space: nowrap;
    height: 3rem;
    line-height: normal;
}

.social:hover {
    transition: background-color 0.2s linear, color 0.2s linear;
    opacity: 1;
    box-shadow: 0 0 5px 2px var(--color-accent-2);
    background-color: var(--color-accent);
    color: #ffffff;
}

@media screen and (max-width: 576px) {
    .socialsContainer {
        justify-content: center;
    }
}
