.toggleThemeButton {
    height: 100%;
    width: 50%;
    border: none;
    border-left: 1px solid var(--color-accent);
    background-color: var(--color-accent-2);
    color: #FFFFFF;
    overflow: hidden;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.toggleThemeButton:hover {
    background-color: var(--color-accent);
}

@media screen and (max-width: 800px) {
    .toggleThemeButton {
        border-top: 1px solid var(--color-accent);
    }
}
