.toggleThemeButton {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0;
    background-color: var(--color-foreground);
    overflow: hidden;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: var(--color-accent);
    }
}

.toggleThemeLabel {
    display: none;
}

@media screen and (max-width: 768px) {
    .toggleThemeButton {
        border: none !important;
        width: 100%;
    }

    .toggleThemeLabel {
        display: block;
    }
}
