.topbar {
    z-index: 1000;
    background-color: var(--color-foreground);
    min-height: 75px;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    border: 0;
    left: 0;
    top: 0;
    border-bottom: 2px solid var(--color-accent);
    box-shadow: 0 0 0.5rem var(
        --color-foreground
    );
}

.siteLogoTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    flex-grow: 1;
    
    & img, h1 {
        cursor: pointer;
    }

    & h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        font-size: 125%;
        font-weight: 600;
        color: #ffffff;
        margin: 0;
        padding: 0;
        margin-left: 1rem;
    }
}

.desktopNav {
    display: flex;
    align-items: flex-start;
    width: 50%;
    align-self: flex-end;
    height: 100%;
}

.mobileNav {
    display: none;
    width: 100%;
    height: calc(100svh - max(75px, 10vh));
    background-color: var(--color-foreground);
    position: fixed;
    top: max(75px, 10vh);
    left: 0;
    z-index: 1000;
}

.desktopLinks, .mobileLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    font-weight: bold;
}

.desktopLinks {
    flex-direction: row;
    align-self: flex-end;
}

.mobileLinks {
    flex-direction: column;
}

.desktopLinks li,
.mobileLinks li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    & a {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #ffffff;
        transition: background-color 0.2s ease;
        text-align: center;
    }

    & a:hover {
        background-color: var(--color-accent);
    }
}

.mobileLinks li {
    border-bottom: 1px solid var(--color-accent);
}

.displayMobileNav {
    display: none;
}

.activeLink {
    background-color: var(--color-accent-2);
}

.mobileMenuButton {
    display: none;
}

@media screen and (max-width: 768px) {
    .siteLogoTitle h1 {
        margin-left: 0.75rem;
    }

    .desktopNav {
        display: none;
    }

    .mobileMenuButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        width: 15%;
        height: 100%;
        background-color: var(--color-accent-2);
        transition: background-color 0.2s ease;

        &:hover {
            box-shadow: none;
            background-color: var(--color-accent);
        }

        & svg {
            height: 2rem;
            width: 2rem;
            fill: #ffffff;
        }
    }

    .displayMobileNav {
        display: block;
    }
}
