.topbar {
    z-index: 1000;
    background-color: var(--color-accent-2);
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    border: 0;
    left: 0;
    top: 0;
    border-bottom: 2px solid var(--color-accent);
}

.siteLogoTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    flex-grow: 1;
    
    & img, h1 {
        cursor: pointer;
    }

    & h1 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
        margin: 0;
        padding: 0;
        margin-left: 1rem;
    }
}

.desktopNav {
    display: flex;
    align-items: flex-start;
    width: 50%;
    align-self: flex-end;
    height: 100%;
}

.mobileNav {
    display: none;
    width: 100%;
    height: calc(100vh - 10vh);
    background-color: var(--color-accent-2);
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 1000;
    border-top: 1px solid var(--color-accent);
}

.desktopLinks, .mobileLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.desktopLinks {
    flex-direction: row;
    align-self: flex-end;
}

.mobileLinks {
    flex-direction: column;
}

.desktopLinks li,
.mobileLinks li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    & a {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #FFFFFF; /* TODO: Change upon adjusting color scheme */
        transition: background-color 0.2s ease;
        text-align: center;
    }

    & a:hover {
        background-color: var(--color-accent);
    }
}

.desktopLinks li {
    border-left: 1px solid var(--color-accent);
}

.mobileLinks li {
    border-bottom: 1px solid var(--color-accent);
}

.displayMobileNav {
    display: none;
}

.activeLink {
    background-color: var(--color-accent);
}

.mobileMenuButton {
    display: none;
}

@media screen and (max-width: 800px) {
    .desktopNav {
        display: none;
    }

    .mobileMenuButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        width: 15%;
        height: 100%;
        background-color: var(--color-accent-2);

        &:hover {
            box-shadow: none;
        }

        & svg {
            height: 2rem;
            width: 2rem;
            fill: white;
        }
    }

    .displayMobileNav {
        display: block;
    }
}
