* {
    box-sizing: border-box;
}

:root {
    font-family: Helvetica, Arial, system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    box-sizing: border-box;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Light Mode Color Theme */
    --color-background: #f8f8f7;
    --color-foreground: #3c3b3c;
    --color-text-primary: #000000;
    --color-text-opposite: #ffffff;
    --color-accent: #9b3198;
    --color-accent-2: #531b51;
}

[data-theme="dark"] {
    --color-background: #000000;
    --color-foreground: #2d2c2d;
    --color-text-primary: #ffffff;
    --color-text-opposite: #000000;
    --color-accent: #378ec1;
    --color-accent-2: #114665;
}

html,
body {
    margin: 0 auto;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    flex-grow: 1;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    overflow-x: hidden;
}

#contentContainer {
    /* Place page content beneath the top navbar */
    margin-top: max(75px, 10vh);
}

.constraint {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

:not(button, a, input) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

button, a {
    cursor: pointer;
    
    & svg, & path {
        pointer-events: none;
    }
}

a {
    color: var(--color-accent);
    
    &:not(:has(button)):hover {
        background-color: var(--color-accent-2);
        color: #ffffff;
    }
}

button {
    background-color: var(--color-accent-2);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.5rem;
    
    &:hover {
        background-color: var(--color-accent);
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.pageHeading {
    margin: 1rem auto;
    text-align: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 80%;
}

/* <section> containing each homepage section and associated background */
.homeSectionContainer {
    display: flex;
    width: 100%;
    min-height: 100vh;
    
    &:first-of-type {
        min-height: calc(100svh - max(75px, 10vh));
    }
}

@media screen and (max-width: 800px) {
    .constraint {
        width: 100%;
    }
}

@media screen and (prefers-reduced-motion) {
    *, ::before, ::after {
        animation-duration: 0.001s !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001s !important;
        scroll-behavior: auto;
    }
}
